<template>
  <div id="contenu">
    <div id="cote-gauche">
      <div id="diplomes">
        <span class="titre-section">Diplômes et formations</span>
        <ul v-for="element in parcours" :key="element.Nom">
          <li class="parcours"><v-icon>mdi-school</v-icon>{{ element.Nom }}</li>
          <ul>
            <li>
              <v-icon>mdi-office-building-marker</v-icon>{{ element.Lieu }} -
              {{ element.Ville }}
            </li>
            <li>
              <v-icon v-if="!element.Date.startsWith('depuis')"
                >mdi-calendar-check-outline</v-icon
              >
              <v-icon v-else>mdi-calendar-clock</v-icon>{{ element.Date }}
            </li>
          </ul>
        </ul>
      </div>

      <div id="experiences-pro">
        <span class="titre-section">Expériences professionnelles</span>
        <ul v-for="element in experiences" :key="element.Poste">
          <li class="parcours">
            <v-icon>mdi-clipboard-account</v-icon> {{ element.Poste }}
          </li>
          <ul>
            <li>
              <v-icon>mdi-office-building-marker</v-icon>
              {{ element.Entreprise }} - {{ element.Ville }}
            </li>
            <li>
              <v-icon v-if="!element.Date.startsWith('depuis')"
                >mdi-calendar-check-outline</v-icon
              >
              <v-icon v-else>mdi-calendar-clock</v-icon>{{ element.Date }}
            </li>
          </ul>
        </ul>
      </div>
    </div>

    <div id="cote-droit">
      <div id="competences">
        <span class="titre-section">Compétences</span>
        <ul>
          <li v-for="element in competences" :key="element.Nom" class="bold">
            {{ element.Nom }}
            <v-progress-linear color="#662483" :value="element.Valeur" />
          </li>
        </ul>
      </div>

      <div id="atouts">
        <span class="titre-section">Atouts</span>
        <ul>
          <li v-for="element in atouts" :key="element" class="bold">
            {{ element }}
          </li>
        </ul>
      </div>

      <div id="langues">
        <span class="titre-section">Langues</span>
        <ul>
          <li v-for="element in langues" :key="element.Langue">
            <span class="bold">{{ element.Langue }}</span> -
            {{ element.Niveau }}
          </li>
        </ul>
      </div>

      <div id="centres-interets">
        <span class="titre-section">Centres d'intérêt</span>
        <ul>
          <li v-for="element in centres_interet" :key="element" class="bold">
            {{ element }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import 'assets/css/contenu.css';
export default {
  data() {
    return {
      parcours: [
        {
          Nom: 'Licence 3 Informatique',
          Lieu: 'UFR Mathématiques-Informatique',
          Ville: 'Strasbourg',
          Date: 'depuis septembre 2020',
        },
        {
          Nom: 'Licence 2 Informatique',
          Lieu: 'UFR Mathématiques-Informatique',
          Ville: 'Strasbourg',
          Date: 'de septembre 2016 à juin 2020',
        },
        {
          Nom: 'Licence 1 Mathématiques-Informatique',
          Lieu: 'UFR Mathématiques-Informatique',
          Ville: 'Strasbourg',
          Date: 'de septembre 2015 à mai 2016',
        },
        {
          Nom: 'Première Année Commune des Études de Santé',
          Lieu: 'Faculté de médecine',
          Ville: 'Strasbourg',
          Date: 'de septembre 2012 à juin 2013',
        },
        {
          Nom: 'Baccalauréat scientifique',
          Lieu: 'Lycée Robert Schuman',
          Ville: 'Haguenau',
          Date: '2012',
        },
      ],

      experiences: [
        {
          Poste: 'Préparateur de commandes',
          Entreprise: 'Schiller MEDICAL',
          Ville: 'Wissembourg',
          Date: 'de juillet 2020 à août 2020',
        },
        {
          Poste: 'Opérateur de production',
          Entreprise: 'Schiller MEDICAL',
          Ville: 'Wissembourg',
          Date: 'de juin 2020 à juillet 2020',
        },
      ],
      atouts: ['Souriant', 'Dynamique', 'Persévérant', 'Sérieux'],
      langues: [
        { Langue: 'Anglais', Niveau: 'Très bon niveau' },
        { Langue: 'Allemand', Niveau: 'Niveau scolaire' },
      ],
      centres_interet: ['Programmation', 'Lecture', 'Jeux-vidéo'],
      competences: [
        {
          Nom: 'HTML/CSS/JavaScript + VueJS/NuxtJS',
          Valeur: 70,
        },
        {
          Nom: 'C/Java/Python',
          Valeur: 60,
        },
        {
          Nom: 'C++/Unity',
          Valeur: 33,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped></style>
