<template>
  <div id="sidebar">
    <div id="profil">
      <img src="pp.jpg" alt="Photo de moi" />
      <span id="nom">{{ nom }}</span>
    </div>
    <div id="infos">
      <ul>
        <li><v-icon>mdi-cake-variant</v-icon>{{ getAge() }}</li>
        <li>
          <v-icon>mdi-email</v-icon>
          <a :href="linkMail(mail)">{{ mail }}</a>
        </li>
        <li>
          <v-icon>mdi-card-account-phone</v-icon>
          {{ phoneNumber }}
        </li>
        <li><v-icon>mdi-google-maps</v-icon>{{ location }}</li>
        <li>
          <v-icon>mdi-gitlab</v-icon>
          <a href="https://gitlab.com/alsagone" target="_blank">Gitlab</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import 'assets/css/sidebar.css';
export default {
  props: {
    nom: {
      default: 'Hakim ABDOUROIHAMANE',
      type: String,
    },
    mail: {
      default: 'hakim_abdou@outlook.com',
      type: String,
    },
    phoneNumber: {
      default: '+33 7 82 89 34 18',
      type: String,
    },
    location: {
      default: '67 580 MERTZWILLER',
      type: String,
    },
  },

  methods: {
    getAge: () => {
      const today = new Date();
      const birthDate = new Date('09/10/1995');
      const diff = today.getTime() - birthDate.getTime();
      const nbYears = diff / (1000 * 3600 * 24 * 365);
      const age = Math.floor(nbYears);
      return `${age} ans`;
    },

    linkMail: (mail) => {
      return `mailto:${mail}`;
    },
  },
};
</script>
