@import 'variables.scss';

#contenu {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
  background-color: $white;
  color: $blue;
  justify-content: space-around;
}

#contenu > div {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 0px 0px 0px;
}

#contenu .v-icon {
  color: $blue;
}
#contenu ul {
  list-style: none;
}

.titre-section {
  font-size: 30px;
  color: #7f53ac;
}

.titre-section,
.parcours {
  font-weight: bold;
}

#competences li {
  width: 100%;
  padding: 5px 0px;
}

.v-progress-linear {
  display: block;
  width: 100%;
}

.parcours,
#cote-droit {
  font-size: 20px;
}
ul > ul {
  font-size: 15px;
}

ul > ul .v-icon {
  font-size: 22px !important;
}

@media screen and (max-width: 699px) {
  html {
    max-width: 100vw;
  }
  #contenu {
    flex-direction: column;
    justify-content: unset;
    height: max-content;
    padding: 5px 0px;
  }

  #contenu > div {
    padding: 0px;
  }

  .titre-section {
    font-size: 20px;
  }
  .parcours,
  #cote-droit {
    font-size: 15px;
  }

  li {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #contenu > div {
    max-width: 100vw;
  }

  ul {
    padding: 0px 0px 0px 12px !important;
  }

  ul > ul {
    font-size: 12px;
  }

  #contenu ul li {
    white-space: normal;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }

  .v-progress-linear {
    width: 95%;
  }
}
