#contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  background-color: #ffffff;
  color: #2c2f84;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contenu > div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px 0px 0px 0px;
}

#contenu .v-icon {
  color: #2c2f84;
}

#contenu ul {
  list-style: none;
}

.titre-section {
  font-size: 30px;
  color: #7f53ac;
}

.titre-section,
.parcours {
  font-weight: bold;
}

#competences li {
  width: 100%;
  padding: 5px 0px;
}

.v-progress-linear {
  display: block;
  width: 100%;
}

.parcours,
#cote-droit {
  font-size: 20px;
}

ul > ul {
  font-size: 15px;
}

ul > ul .v-icon {
  font-size: 22px !important;
}

@media screen and (max-width: 699px) {
  html {
    max-width: 100vw;
  }
  #contenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 5px 0px;
  }
  #contenu > div {
    padding: 0px;
  }
  .titre-section {
    font-size: 20px;
  }
  .parcours,
  #cote-droit {
    font-size: 15px;
  }
  li {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #contenu > div {
    max-width: 100vw;
  }
  ul {
    padding: 0px 0px 0px 12px !important;
  }
  ul > ul {
    font-size: 12px;
  }
  #contenu ul li {
    white-space: normal;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }
  .v-progress-linear {
    width: 95%;
  }
}
/*# sourceMappingURL=contenu.css.map */