@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html,
body,
.v-application {
  min-height: 100vh;
  min-width: 100vw;
}
.v-application {
  font-family: 'Lato';
  color: #7f53ac;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.v-icon {
  margin: 0px 5px 0px 0px;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: max-content;
}

#cote-gauche li,
#sidebar li {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;
}

*:not(a) {
  user-select: none;
}

.v-divider {
  border-color: $purple !important;
  margin: 5px 0px;
}

footer {
  color: #7f53ac;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  background-color: #fff;
}

@media screen and (max-width: 699px) {
  #container {
    flex-direction: column;
  }
}
