@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html,
body,
.v-application {
  min-height: 100vh;
  min-width: 100vw;
}

.v-application {
  font-family: 'Lato';
  color: #7f53ac;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.v-icon {
  margin: 0px 5px 0px 0px;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#cote-gauche li,
#sidebar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold {
  font-weight: bold;
}

*:not(a) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.v-divider {
  border-color: #7f53ac !important;
  margin: 5px 0px;
}

footer {
  color: #7f53ac;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  background-color: #fff;
}

@media screen and (max-width: 699px) {
  #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */