#sidebar {
  width: 100vw;
  min-height: 170px;
  background: #647dee;
  background: -webkit-gradient(linear, left top, right bottom, from(#647dee), to(#9f73ff));
  background: linear-gradient(to bottom right, #647dee, #9f73ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#sidebar {
  text-shadow: 1px 2px #3b0053;
}

#sidebar a {
  color: #e0ffff;
}

#sidebar * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-weight: bold;
}

#profil {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#profil #nom {
  margin: 0px 0px 0px 10px;
  font-size: 2rem !important;
}

#profil img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

#infos li,
#infos a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#infos ul {
  padding: 0;
}

a .v-icon {
  text-decoration: none;
}

@media screen and (max-width: 699px) {
  #sidebar,
  #profil {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #sidebar {
    min-height: 90vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #sidebar > div {
    max-width: 100%;
    padding: 0px 5px;
  }
  #profil #nom {
    font-size: 1.5rem !important;
  }
}
/*# sourceMappingURL=sidebar.css.map */