@import 'variables.scss';

#sidebar {
  width: 100vw;
  min-height: 170px;

  background: #647dee;
  background: -webkit-linear-gradient(to bottom right, #647dee, #9f73ff);

  background: linear-gradient(to bottom right, #647dee, #9f73ff);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

#sidebar {
  text-shadow: 1px 2px #3b0053;
}

#sidebar a {
  color: #e0ffff;
}

#sidebar * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
}

#profil {
  flex-direction: row;
}

#profil #nom {
  margin: 0px 0px 0px 10px;
  font-size: 2rem !important;
}

#profil img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

#infos li,
#infos a {
  flex-direction: row;
  justify-content: space-between;
}

#infos ul {
  padding: 0;
}

a .v-icon {
  text-decoration: none;
}

@media screen and (max-width: 699px) {
  #sidebar,
  #profil {
    flex-direction: column;
    text-align: center;
  }

  #sidebar {
    min-height: 90vh;
    justify-content: center;
  }

  #sidebar > div {
    max-width: 100%;
    padding: 0px 5px;
  }

  #profil #nom {
    font-size: 1.5rem !important;
  }
}
