<template>
  <v-app>
    <div id="container"><sidebar /> <contenu /></div>

    <footer>
      Favicon par
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
        >Freepik</a
      >
      de
      <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"
        >flaticon.com</a
      >
    </footer></v-app
  >
</template>

<script>
import 'assets/css/index.css';
import Sidebar from '~/components/sidebar.vue';
import Contenu from '~/components/contenu.vue';
export default {
  components: { sidebar: Sidebar, contenu: Contenu },
};
</script>

<style lang="scss" scoped></style>
